
/* .stitched borrowed and modified from css-tricks.com */


body{
   background: #72a3bb;
   font-family: sans-serif;
}
main#container {
   display: none;
}
#jButton {
   background-color: #49809c;
   font-size: 20px;
   color: white;
   width: 50%;
   height: 50px;
   border-radius: 25px;
   margin: 150px auto;
   display: block;
}
.stitched {
   display: block;
   padding: 20px;
   margin: 10px 10px;
   background: #49809c;
   color: #fff;
   font-size: 16px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #49809c, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: 1px 1px #000;
   font-weight: normal;
}
.no-stitch {
   padding: 20px;
   margin: 10px 10px;
   background: #2f6a87;
   color: #fff;
   font-size: 16px;
   line-height: 1.3em;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #2f6a87, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: 1px 1px #000;
   font-weight: normal;
}
.box {
   display: -webkit-flex;
   display: flex;
   padding: 0;
   margin: 0;
}
.box-item {
   padding: 5px;
   margin-top: 10px;
}
/*.box-fixed {
   width: 300px;
}*/
article#skills.box-item {
   flex-grow: 2;
   flex-basis: 0;
   width: 300px;
}
#container{
   display: block;
   margin: 50px auto;
   width: 1200px;
   /*background: #4C668C;*/
   padding: 100px;
}
article#mugshotWrapper{
   margin: 0 auto;
}
#mugshot{
   width: 240px;
   height: 320px;
   margin: 0px auto;
}
artcle #intro{
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 50px auto;
   width: 50%;
}
.intro{
   width: 500px;
   margin: 0 auto;
   text-align: center;
}
h1 {
   text-align: center;
   line-height: 1.3em;
   text-transform: uppercase;
}
article#objective {
   text-align: center;
}
article#education {
   text-align: center;
}
}
#education p:nth-child(2) {
   text-transform: uppercase;
}
ul.box {
   flex-wrap: wrap;
   justify-content: center;
}
.skill {
   list-style: none;
   padding: 3px;
   margin: 3px;
   background-color: #2f6a87;
   font-size: 12px;
   border-radius: 10px;
   text-align: center;
   font-weight: bold;
   color: #FFF;
}
section#exp.box, section#inv.box {
   flex-wrap: wrap;
}
.exp-box {
   flex-flow: row wrap;
   flex-direction: column;
}
aside#invSidebar > section.box{
   flex-direction: column;
}
section#inv.box {
   flex-direction: column;
}
section#inv article.no-stitch {
   margin: 10px;
}
.exp-box-item {
   padding: 0;
   margin: 0;
   flex: 1 auto;
}

.boxBusiness, .boxTitle, .boxDates, .boxDuties {
   flex: 1 0 400px;
   flex-flow: row wrap;
}
.business, .title, .dates, .job-duties {
   margin: 5px 0;
}
.business {
   
}
.title {
   
}
.dates {
   
}
.job-duties {
   display: list-item;
   margin-left: 15px;sd
}




